body{
    font-family: monospace;
    
}

ul{
    flex-shrink: 1;
    display: flex;
    border: 50px 100px 50px 100px;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}
/* start of header bar */
.headerbar{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-items: baseline;
   
    /* header logo and links are not aligning as should, they are uneven to each other and not at top of header. baseline makes them on same line but still need it to go to top of box*/
}

.leftlinks{
    font-size: 24px;
    color: #f9faf8;
}
.rightlinks{
    font-size: 18px;
    color: #e5e7eb;
}
/*end of headerbar*/

/*start of container 1*/
.container1{
    display: flex;
    background-color: #1f2937;
    padding: 100px 15px 100px 15px;
    gap: 90px;
    
}

.heroleft{

}

.heromaintext{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.herosecondarytext{
    color: #e5e7eb;
    font-size: 18px;
}

button{
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 15px 32px;
    font-size: 18px;
    border-radius: 15px;
}
.heroright{
  
}

.hero{
    height: 200px;
    width: 400px;
}
    

/*end of container 1*/

/* start container 2*/
.container2{
display: flex;
align-self: center;
}
/* end container 2*/

/* start container 3*/
.container3{
    padding: 50px 200px 50px 200px;
    background-color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote{
    font-style: italic;
}

.quoter{
    font-weight: bolder;
    align-self: flex-end;
}

/* end container 3*/

/* start container 4*/
.container4{
    background-color: #3882f6;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 50px 100px;
    border-radius: 15px;
}
.4sub1{

}
/* end container 4*/

.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
}