@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}


p, a:link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1250px;
}

nav {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  padding: 0px 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

section.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

section.section1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  gap: 20px; 
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    max-width: 500px;
    gap: 20px;
}

section.section1 h2{
  color: #f9faf8;
  font-weight: 900;
  font-size: 48px;
}

section.section2 p{
    color: #1f2937;

}

.placeholder {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: flex;
  height: 215px;
}

button {
  padding: 7px 1em;
  width: 120px;
  background-color: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  
}

section.section1,
button {
  border: none;
}

/*end of header*/

/* start container 2*/
section.section2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 13em;
  margin-top: 3em;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.infocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em 0 6em 0;
  gap: 25px;
}

.info1 {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.infoimg {
  border-radius: 20px;
  border: #3882f6 4px solid;
  width: 180px;
  height: 160px;
}
/* end container 2*/

/* start container 3*/
section.section3 {
  padding: 50px 200px 50px 200px;
  background-color: #e5e7eb;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-style: italic;
}

.quoter {
  font-weight: bolder;
  align-self: flex-end;
}

/* end container 3*/

/* start container 4*/
section.section4 {
  background-color: #3882f6;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 50px 100px;
  border-radius: 15px;
}

section.section4 h2{
    color: #e5e7eb;
    margin: 0;
}
p.signup{
    margin: 0;
}
section.section4 button {
    border: #e5e7eb solid;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #e5e7eb;
}
